@page
@model GardenersCalendar2.Pages.Nurseries.DetailsModel

@using PlantCreate = GardenersCalendar2.Pages.Plants.CreateModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nursery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nursery.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nursery.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nursery.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nursery.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Nursery?.NurseryId">Edit</a> |
    <a asp-page="/Plants/Create" asp-route-nurseryorgardenId="@Model.Nursery?.NurseryId" asp-route-parentIdType="@PlantCreate.ParentIdType.Nursery">Create A Plant</a>|
    <a asp-page="./Index">Back to List</a>
</div>
<div class="CalendarContainer">
    <partial name="_calendarPartial" for="ToDoList"></partial>
</div>
<div class="PlantListContainer">
    <partial name="Plants/_PlantListPartial" for="Nursery.Plants"></partial>
</div>
@section ExtraStyleSheets{
    <link href='/lib/FullCalendar/main.css' rel='stylesheet' />
    <script src='/lib/FullCalendar/main.js'></script>
}