@page
@model GardenersCalendar2.Pages.ToDos.DeleteMultipleModel

@{
    ViewData["Title"] = "DeleteMultiple";
}

<h1>Complete Multiple</h1>

<h3>Are you sure you want to complete all of these?</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Plant.Nursery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Plant.Garden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Plant)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plant.Nursery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plant.Garden.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plant.Name)
            </td>
        </tr>
}
    </tbody>
</table>

    <form method="post">
        <select style="display: none" asp-items="ViewBag.CheckedSelectList" multiple asp-for="CheckCompleted"></select>
        <input type="submit" value="Complete Multiple To-Dos" class="btn btn-warning" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
