@page
@model GardenersCalendar2.Pages.ToDos.IndexModel

@{
    ViewData["Title"] = "Index";
    bool encounterToday = false;
}

<h1>To-Dos</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a href="#today-row">Go To Today</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].Plant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDo) {
            string holdsIdAttribute = "";
            if (item.DueDate >= DateTime.Today && !encounterToday)
            {
                encounterToday = true;
                holdsIdAttribute = "id=today-row";
            }
            <tr @holdsIdAttribute>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plant.Name)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ToDoId">Complete</a>
            </td>
        </tr>
}
    </tbody>
</table>
