@using GardenersCalendar2.Data.EFClasses

@model List<Plant>

@{
    ViewData["Title"] = "Index";
}

<h1>Plants</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Nursery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Garden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nursery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garden.Name)
            </td>
            <td>
                <a asp-page="/Plants/Edit" asp-route-id="@item.PlantId">Edit</a> |
                <a asp-page="/Plants/Details" asp-route-id="@item.PlantId">Details</a> |
                <a asp-page="/Plants/Delete" asp-route-id="@item.PlantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
