@page
@model GardenersCalendar2.Pages.Plants.DeleteMultipleModel

@{
    ViewData["Title"] = "DeleteMultiple";
}

<h1>Remove Multiple</h1>

<h3>Are you sure you want to remove all of these?</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plants[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plants[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plants[0].Nursery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plants[0].Garden)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plants) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nursery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garden.Name)
            </td>
        </tr>
}
    </tbody>
</table>

    <form method="post">
        <select style="display: none" asp-items="ViewBag.CheckedSelectList" multiple asp-for="CheckCompleted"></select>
        <input type="submit" value="Remove Multiple Plants" class="btn btn-warning" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
